<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="com.screenshotontestfail.Listeners" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orangehrm.job.AddJobTitleAutomateTest"/>
      <class name="com.orangehrm.configuration.EmailConfigAutomateTest"/>
      <class name="com.orangehrm.usermanagement.UserMangementAutomateTest"/>
      <class name="com.orangehrm.assertionmethod.GetDataAndCompareTest"/>
      <class name="com.orangehrm.qualifications.AddSkillAutomateTest"/>
      <class name="com.orangehrm.job.AddPayGradeAutomateTest"/>
      <class name="com.orangehrm.organization.AddLocationAutomateTest"/>
      <class name="com.orangehrm.nationalities.AddNationalityAutomateTest"/>
      <class name="com.orangehrm.qualifications.AddLanguageAutomateTest"/>
      <class name="com.orangehrm.qualifications.AddEducationAutomateTest"/>
      <class name="com.orangehrm.qualifications.AddLicenseAutomateTest"/>
      <class name="com.orangehrm.job.AddJobCategoryAutomateTest"/>
      <class name="com.orangehrm.job.AddEmploymentStatusAutomateTest"/>
      <class name="com.orangehrm.configuration.AddProviderAutomateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
